$white-key-color:white;
$black-key-color:black;
$primary-color:#143F6B;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@function set-color($width){
    @return $width * 4 px; 
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
  }