$white-key-color:white;
$black-key-color:black;
$primary-color:#e79d2e;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

@function set-color($width){
    @return $width * 4 px; 
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
  }